# Exclude composer dependencies in the vendor directory
/vendor

# Exclude WordPress core
/wordpress/*
/wordpress/wp-includes/
/wordpress/wp-admin/

# Include wp-content, then exclude each of the subdirectories
!/wordpress/wp-content
/wordpress/wp-content/*
!/wordpress/wp-content/themes/twentytwentytwo-child/*

## Themes: include the directory, exclude all subdirectories except those specified
!/wordpress/wp-content/themes/
/wordpress/wp-content/themes/*
# Include custom themes here
!/wordpress/wp-content/themes/twentytwentytwo
!/wordpress/wp-content/themes/twentytwentytwo-child

## Plugins: include the directory, exclude all subdirectories except those specified
!/wordpress/wp-content/plugins/
/wordpress/wp-content/plugins/*
# Include custom plugins here

# Exclude macOS-specific attributes files
.DS_Store